html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  color: $main-text-color;
  transition: all 0.3s linear;      
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gray {
  color: #b9b9b9;
}

.black {
  color: $main-title-color;
}

.orange {
  color: $secondary-color;
}