$main-title-color: #18191d;
$main-text-color: #858585;
$main-font: 'Montserrat', sans-serif;
$secondary-font: Tahoma, sans-serif;
$secondary-color: #ff6b08;
$third-color: #b9b9b9;
$second-title-color: #fff;
$bg-color: #111517;
