.footer {
  background: $bg-color;
}

.footer-wrapper {
  @extend %container;
  text-align: center;

  @media (min-width:768px) {
    text-align: left;
  }
}

.footer-text {
  @include font($size:11px, $weight:500, $height:1);
  color: #949596;
  padding: 30px 0;

  @media (min-width:1280px) {
    @include font($size:15px, $weight:500, $height:1);
    padding: 28px 0;
  }
}
