.way {
  @extend %container;
  padding-top: 201px;

  @media (min-width:768px) {
    padding-top: 226px;
  }

  @media (min-width:1280px) {
    padding-top: 165px;
  }

  @media (min-width:1680px) {
    padding-top: 297px;
  }
}

.way-wrapper__title {
  @extend %title;
  color: $main-title-color;
  margin-bottom: 36px;

  @media (max-width:1279px) {
    text-align: center;
  }
}

.way-wrapper-list {
  @extend %list;
  justify-content: center;
  margin-bottom: 50px;

  @media (min-width:1280px) {
    justify-content: space-between;
    margin-bottom: 100px;
  }

  @media (min-width:1680px) {
    justify-content: center;
    margin-bottom: 130px;
  }
}

.way-card {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
  margin: 8px;

  @media (min-width:768px) {
    margin: 10px;
  }

  @media (min-width:1280px) {
    margin: 6px;
  }

  @media (min-width:1680px) {
    margin: 8px;
  }

  &__link {
    @extend %link;
    text-align: center;
    width: 290px;
    height: 268px;
    padding: 30px 23px 0;
    transition: all 0.3s linear;

    @media (min-width:1280px) {
      width: 390px;
      height: 340px;
    }

    @media (min-width:1680px) {
      width: 430px;
      height: 400px;
    }

    &:hover {
      background-color: $secondary-color;

      & .way-icon,
      .way-card__title,
      .way-card__text {
        fill: $second-title-color;
        color: $second-title-color;
      }

      & .way-card__title::after {
        background: $second-title-color;
      }
    }
  }

  &__title {
    @extend %text;
    color: $main-title-color;
    position: relative;
    margin-bottom: 34px;

    &::after {
      content: '';
      @extend %line;
      position: absolute;
      left: 50%;
      bottom: -17px;
      transform: translateX(-50%);
    }
  }

  &__text {
    @include font($size:11px, $weight:400);
    color: $main-text-color;
    // width: 240px;
    margin: 0 auto;

    @media (min-width:1280px) {
      @include font($size:15px, $weight:400, $height:31px);
      // width: 348px;
    }

    @media (min-width:1680px) {
      @include font($size:19px, $weight:400, $height:31px);
      // width: 330px;
    }
  }
}

.way-icon {
  width: 50px;
  height: 45px;
  fill: $secondary-color;
  margin-bottom: 20px;
}
